<h1 class="title">Products</h1>
<table class="manage_products">
    <tr style="vertical-align: baseline;">
        <td>id</td>
        <td>title</td>
        <td>image</td>
        <td>price</td>
        <td>visible</td>
    </tr>
    {% for product in products %}
    <tr>
        {{product}}
    </tr>
    {% endfor %}
</table>

<style>
    h1.title {
        font-size: 2em;
        color: silver;
        font-weight: 200;
    }
    table.manage_products {
        width: 100%;
        height: 100%;
    }
</style>