<ul class="layui-nav" style="position: fixed;top: 0;z-index: 5;width: 100%;background-color: #393D49;">
    <li class="layui-nav-item">
        <a href="home.html">
            <img alt="" style="height: 44px;width: 80px;" src="../../static/img/IMG_20210314_170833.jpg">
        </a>
    </li>
    <li class="layui-nav-item"><a href="product.html">Shop</a></li>
    <li class="layui-nav-item"><a href="aboutUs.html">Our Story</a></li>
    <li class="layui-nav-item"><a href="collection.html">Categories</a>
        <dl class="layui-nav-child">
            <dd><a href="collection/a.html"> Love Flowers</a></dd>
            <dd><a href="collection/a.html"> Friendship flowers</a></dd>
            <dd><a href="collection/a.html"> Birthday flowers</a></dd>
            <dd><a href="collection/a.html"> Greeting elders</a></dd>
            <dd><a href="collection/a.html"> Visiting and condolences</a></dd>
            <dd><a href="collection/a.html"> Apology flowers</a></dd>
        </dl>
    </li>
        
    <li class="layui-nav-item"><a href="bot.html">Chatbot</a></li>
    <li class="layui-nav-item"><a href="cart.html">Cart</a></li>
    <li class="layui-nav-item"><a href="accountinfo.html">My Account</a></li>
    <span class="layui-nav-bar" style="left: 382.5px; top: 55px; width: 0px; opacity: 0;"></span>
</ul>
